{% for article in countArticles %}

    <div class="row">
        <div class="span10">
            <p>{{ article.articlesText }}</p>
        </div>
        <div class="span2">
            Популярность: <span class="pull-right strong">{{ article.articlesPopularity }}%</span>
            <div class="progress">
                <div class="bar" style="width: {{ article.articlesPopularity }}%;"></div>
            </div>
        </div>
    </div>
    <hr>

{% endfor %}